<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>App Flask Iris</h1>
    <form action="/predict" method="post">

        <p>Largura da pétala: <input type="text" name="larg_petala" id=""></p>
        <p>Comprimento da pétala: <input type="text" name="comp_petala" id=""></p>
        <p>Largura da sépala: <input type="text" name="larg_sepala" id=""></p>
        <p>Comprimento da sépala: <input type="text" name="comp_sepala" id=""></p>
        <p><input type="submit" value="Enviar"></p>

    </form>
</body>
</html>