<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>App Flask Iris</h1>
    <form action="" method="post">

        <p>Largura da pétala: <input type="text" name="" id=""></p>
        <p>Comprimento da pétala: <input type="text" name="" id=""></p>
        <p>Largura da sépala: <input type="text" name="" id=""></p>
        <p>Comprimento da sépala: <input type="text" name="" id=""></p>
        
    </form>
</body>
</html>